<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>My Title</title>
</head>
<body>

<!-- This is an HTML comment -->
<% potrjeneStranke.forEach(function(stranka) { %>
              <tr id="<%= stranka.id %>" class="pesem">
                <td>
                 <%= stranka.ime %>
                </td>
                <td>
                 <%= stranka.id %>
                </td>
                <td>
                 <%= stranka.priimek %>
                </td>
              </tr>
<% }) %>


</body>
</html>