<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>My Title</title>
</head>
<body>

<!-- This is an HTML comment -->
<% potrjeneStranke.forEach(function(stranka) { %>
              <div id="<%= stranka.id %>" class="pesem">
                <p>
                  <span class="glyphicon glyphicon-plus"></span>
                  <strong><span class="naziv"><%= stranka.ime %></span></strong>
                  (<span class="izvajalec"><%= stranka.priimek %></span>)
                </p>
              </div>
<% }) %>


</body>
</html>