<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>E-Cakalnica</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="user.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/datatables-responsive/css/responsive.bootstrap.scss" rel="stylesheet">
    <link href="bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet">
    <link href="bower_components/datatables-responsive/css/responsive.foundation.scss" rel="stylesheet">
    <link href="bower_components/datatables-responsive/css/responsive.jqueryui.scss" rel="stylesheet">
    <link href="bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="bower_components/startbootstrap-sb-admin-2/dist/css/timeline.css" rel="stylesheet">
    <link href="bower_components/morrisjs/lib/example.css" rel="stylesheet">
    <link href="bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    
    <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="bower_components/metisMenu/dist/metisMenu.js"></script>
    
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/npm.js"></script>
    
    <script src="user.js"></script>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  </head>
  <body>
    

    <%
    var name="John";
    var surname="Snow";
    var id="d6a3a5a1-17f7-4178-9f74-440d87cc2781";
    %>
    
    <% 
    var k = 1;
    var i = 1;
    %>
    <% potrjeneStranke.forEach(function(stranka) { %>
        <% if(stranka.id != id)
              k++;
           if(stranka.id == id)
             i=k;
        %>
    <% }) %>
    
    
    <div class="panel panel-primary">
      <div class="panel-heading"> <h2 style="text-align: center;margin-top: 0px;margin-bottom: 5px;">Podatki o pacientu</h2></div>
        <div class="panel-body">
          
          <!--Podatki o uporabniku-->
          
            <div class = "col-lg-2 col-md-2 col-xs-3 col-sm-3" style="margin-bottom: 10px;margin-top: 10px;margin-left: 0px;margin-right: 0px;" >
              <img src="pictures/userPicture.png" class = "container-picture"></img>
            </div>
            <div class = "col-lg-10 col-md-10 col-xs-9 col-sm-9" style="margin-top: 45px;" >
              <div class = "row">
                <div class = "col-lg-2 col-md-2 col-xs-12 col-sm-2">
                  <span class = "p-oznake">Ime: </span>
                  <span class = "p-podatki"><b> John </b></span>
                </div>
              </div>
              <div class = "row">
                <div class = "col-lg-2 col-md-2 col-xs-12 col-sm-2">
                  <span class = "p-oznake">Priimek: </span>
                  <span class = "p-podatki"><b> Snow </b></span>
                </div>
              </div>
              <div class = "row">
                <div class = "col-lg-2 col-md-2 col-xs-12 col-sm-2">
                <span class = "p-oznake">Id: </span>
                    <span class = "p-podatki"><b>440d87cc2781 </b></span>
              </div>
              </div>
            </div>
          </div>
          
          <!--Podatki o uporabniku-->
          
                      <!-- ETA -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row" id="peopleInFront">
                    <div class="col-xs-3"><i class="fa fa-meh-o fa-5x"></i></div>
                    <div class="col-xs-9 text-right">
                      <div class="huge" id="peopleQueue"> 
                          <%= i %>
                      </div>
                      <div>Ljudje pred teboj v čakalni vrsti</div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                </div>
                </div>
            </div>
          
          
          <!-- Ljudje pred teboj-->
          <div class="row">
            <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3"><i class="fa fa-clock-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge"> <%= i*10 %> </div>
                      <div>Preostanek časa v vrsti</div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                </div>
                </div>
            </div>
            <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            -->

          </div>
          <!-- END BODY -->
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <form action="/potrdi" method="post">
                <input style="display:none;" name ="nameOf" value ="John"/>
                <input style="display:none;" name ="surnameOf" value ="Snow"/>
                <input style="display:none;" name ="idOf" value ="d6a3a5a1-17f7-4178-9f74-440d87cc2781"/>
                <button name="/potrdi" type="submit" class="btn btn-primary" style="width: 100%;font-size: medium">Potrdi prihod</button>
              </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1"></div>
          </div>
        </div>
    </div>
  </body>
</html> 



